.lf-card {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-card--has-button {
  display: grid;
  grid-template-rows: 1fr auto;
}
.lf-card__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: var(--card-grid);
  overflow: auto;
}

.lf-cardswithchip {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-cardswithchip__cards, .lf-cardswithchip__grid {
  width: 100%;
  height: 100%;
  display: grid;
}
.lf-cardswithchip__cards {
  grid-template-columns: repeat(var(--card-grid), 1fr);
  overflow: auto;
}
.lf-cardswithchip__grid {
  grid-template-rows: auto 1fr;
}

.lf-carousel {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-carousel__widget {
  width: 100%;
  height: 100%;
}

.lf-chat {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-chat__widget {
  width: 100%;
  height: 100%;
}

.lf-chip {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-chip__widget {
  width: 100%;
  height: 100%;
}

.lf-code {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-code__widget {
  width: 100%;
  height: 100%;
}

.lf-compare {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.lf-compare__widget {
  --lf-image-object-fit: contain;
  width: 100%;
  height: 100%;
}

.lf-controlpanel {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  --lf-article-padding: 0.5em 1.25em;
  display: grid;
}
.lf-controlpanel__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: auto;
}
.lf-controlpanel__spinner {
  width: 100%;
  height: 100%;
}
.lf-controlpanel lf-accordion,
.lf-controlpanel lf-article {
  overflow: auto;
}
.lf-controlpanel lf-article:not([slot=github]) {
  background: rgba(var(--lf-color-primary), 0.075);
}

.lf-countbarchart {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  overflow: auto;
  position: relative;
}
.lf-countbarchart__widget {
  width: 100%;
  height: 100%;
}

.lf-history {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-history__widget {
  width: 100%;
  height: 100%;
}

.lf-imageeditor {
  --lf-slider-label-min-width: 128px;
  --lf-slider-label-overflow: hidden;
  --lf-slider-label-white-space: pre;
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  overflow: auto;
  position: relative;
}
.lf-imageeditor__actions {
  display: flex;
  width: 100%;
}
.lf-imageeditor__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
}
.lf-imageeditor__grid--has-actions {
  grid-template-rows: auto 1fr;
}
.lf-imageeditor__grid--is-inactive {
  pointer-events: none;
}
.lf-imageeditor__grid--is-inactive:after {
  width: 100%;
  height: 100%;
  background-color: rgba(var(--lf-color-bg), 0.875);
  content: "";
  cursor: not-allowed;
  left: 0;
  position: absolute;
  top: 0;
}
.lf-imageeditor__settings {
  width: 100%;
  height: 100%;
  align-items: center;
  display: grid;
  grid-area: settings;
  grid-template-rows: 1fr auto;
}
.lf-imageeditor__settings__controls {
  width: 100%;
  height: 100%;
  align-items: center;
  display: grid;
  overflow: auto;
  padding: 12px 24px;
}
.lf-imageeditor__widget {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.lf-imageeditor lf-toggle {
  justify-items: center;
}

.lf-masonry {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-masonry__widget {
  width: 100%;
  height: 100%;
}

.lf-messenger {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-messenger__placeholder {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  color: rgb(var(--lf-color-on-bg));
  font-family: var(--lf-font-family-primary);
  font-size: var(--lf-font-size);
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 2;
  justify-self: center;
}
.lf-messenger__placeholder--hidden {
  display: none;
}
.lf-messenger__widget {
  width: 100%;
  height: 100%;
}

.lf-progressbar {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.lf-tabbarchart {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  overflow: auto;
  position: relative;
}
.lf-tabbarchart__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
}
.lf-tabbarchart__grid--no-directory {
  grid-template-rows: auto 1fr;
}
.lf-tabbarchart__directory--hidden {
  display: none;
}
.lf-tabbarchart__tabbar {
  overflow: auto;
}

.lf-textarea {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-textarea__widget {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  border: 0;
  color: rgb(var(--lf-color-on-bg));
  display: block;
  font-family: var(--lf-font-family-monospace);
  font-size: var(--lf-font-size);
  outline: none;
  padding: 8px;
  resize: none;
  transition: box-shadow 175ms ease;
}
.lf-textarea__widget:focus:not(.lf-textarea__widget--error) {
  box-shadow: inset 0px 0px 4px 1px rgba(var(--lf-color-primary), 0.775);
}
.lf-textarea__widget--error {
  box-shadow: inset 0px 0px 4px 1px rgba(var(--lf-color-danger), 0.775);
}

.lf-tree {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-tree__widget {
  width: 100%;
  height: 100%;
}

.lf-upload {
  width: 100%;
  height: 100%;
  background: rgb(var(--lf-color-bg));
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}
.lf-upload__widget {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=_index.css.map */
