@use '../mixins/mixins' as mixins;

.lf-cardswithchip {
  & {
    @include mixins.lf-root();
  }

  &__cards,
  &__grid {
    @include mixins.lf-el-stretch;
    display: grid;
  }

  &__cards {
    grid-template-columns: repeat(var(--card-grid), 1fr);
    overflow: auto;
  }

  &__grid {
    grid-template-rows: auto 1fr;
  }
}
