@use '../mixins/mixins' as mixins;

.lf-controlpanel {
  & {
    @include mixins.lf-root();
    --kul-article-padding: 12px 24px;
    display: grid;
  }

  &__grid {
    @include mixins.lf-el-stretch;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__spinner {
    @include mixins.lf-el-stretch;
  }
}
