@use '../mixins/mixins' as mixins;

.lf-controlpanel {
  & {
    @include mixins.lf-root();
    --lf-article-padding: 0.5em 1.25em;
    display: grid;
  }

  &__grid {
    @include mixins.lf-el-stretch;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: auto;
  }

  &__spinner {
    @include mixins.lf-el-stretch;
  }

  lf-accordion,
  lf-article {
    overflow: auto;
  }

  lf-article:not([slot='github']) {
    background: rgba(var(--lf-color-primary), 0.075);
  }
}
