@use '../mixins/mixins' as mixins;

.lf-imageeditor {
  & {
    --lf-slider-label-min-width: 128px;
    --lf-slider-label-overflow: hidden;
    --lf-slider-label-white-space: pre;

    @include mixins.lf-root($max: false);
    position: relative;
  }

  &__actions {
    display: flex;
    width: 100%;
  }

  &__grid {
    & {
      @include mixins.lf-el-stretch;
      display: grid;
      grid-template-rows: 1fr;
    }

    &--has-actions {
      grid-template-rows: auto 1fr;
    }

    &--is-inactive {
      & {
        pointer-events: none;
      }

      &:after {
        @include mixins.lf-el-stretch;
        background-color: rgba(var(--lf-color-bg), 0.875);
        content: '';
        cursor: not-allowed;
        left: 0;
        position: absolute;
        top: 0;
      }
    }
  }

  &__progressbar {
    & {
      height: 1em;
      left: 0;
      opacity: 1;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: opacity 0.3s ease;
      z-index: 1;
    }

    &--hidden {
      opacity: 0;
    }
  }

  &__settings {
    & {
      @include mixins.lf-el-stretch;
      align-items: center;
      display: grid;
      grid-template-rows: 1fr auto;
      position: relative;
    }

    &__controls {
      @include mixins.lf-el-stretch;
      align-items: center;
      display: grid;
      grid-gap: 16px;
      overflow: auto;
      padding: 12px 24px;

      lf-accordion {
        width: 100%;
      }
    }

    &__buttons {
      display: flex;
      gap: 8px;
      justify-content: flex-end;
      padding: 8px 16px;
    }
  }

  &__snackbar {
    border-bottom: 1px solid var(--lf-color-border);
  }

  &__widget {
    @include mixins.lf-el-stretch;
    overflow: auto;
  }

  lf-toggle {
    justify-items: center;
  }
}
