.drawer-section {
  & {
    grid-area: drawer;
    overflow: auto;
  }

  &__container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding: 0.75em;
  }

  &__tree {
    overflow: auto;
  }
}
