.notifications-section {
  & {
    backdrop-filter: blur(12px);
    display: none;
    height: calc(100vh - var(--lf-ui-height-header));
    grid-gap: 1.5em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    left: 0;
    max-height: max-content;
    max-width: 320px;
    min-width: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.75em;
    place-content: baseline;
    position: fixed;
    bottom: 0;
    width: min(320px, 25vw);
    z-index: var(--lf-ui-zindex-portal);
  }

  &--active {
    animation: lf-fade-in 0.3s ease forwards;
    display: grid;
  }

  &__item {
    animation: none;
    height: max-content;
    max-height: 480px;
    overflow: auto;
  }
}

@media (max-width: 900px) {
  .notifications-section {
    border-radius: 6px;
    bottom: 16px;
    box-shadow: var(--lf-ui-box-shadow-modal);
    left: 1em;
    height: max-content;
    max-height: 40vh;
    max-width: calc(100% - 2em);
    min-width: 0;
    padding: 0.5em;
    place-content: center;
    right: 1em;
    width: auto;
  }

  .notifications-section__item {
    max-height: 50vh;
  }
}

@media (max-width: 480px) {
  .notifications-section {
    border-radius: 8px;
    bottom: 12px;
    left: 50%;
    max-width: calc(100% - 32px);
    padding: 0.5em;
    transform: translateX(-50%);
    width: calc(100% - 32px);
  }
}

@keyframes lf-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
