.notifications-section {
  & {
    backdrop-filter: blur(12px);
    display: none;
    height: calc(100vh - var(--lf-ui-height-header));
    grid-gap: 1.5em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    left: 0;
    max-height: max-content;
    max-width: 320px;
    min-width: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.75em;
    place-content: baseline;
    position: fixed;
    bottom: 0;
    width: min(320px, 25vw);
    z-index: var(--lf-ui-zindex-portal);
  }

  &--active {
    animation: lf-fade-in 0.3s ease forwards;
    display: grid;
  }

  &__item {
    animation: none;
    height: max-content;
    max-height: 480px;
    overflow: auto;
  }
}
