.outputs-section {
  & {
    display: grid;
    gap: 1em;
  }

  &__title {
    align-items: center;
    display: flex;
    gap: 0.75em;
    justify-content: space-between;
  }

  &__controls {
    align-items: center;
    display: flex;
    gap: 0.5em;
  }
}
